body {
    text-align: center;
}

.card {
    margin: 0 auto;
    float: none;
    top: 20px;
}
.btn {
    padding: 20px;
    margin: 20px;
}

.btn-secondary {
    background-color: lightslategray;
}

#startBtn {
    background-color: green;
}

.btn:hover {
    background-color: white;
}

#startBtn:hover {
    background-color: white;
    color: black;
}
